
.DS_Store
Script/.Rproj.user/shared/notebooks/paths
Script/.Rproj.user/E7E92BFF/sources/s-37BDA3F6/B48D16BB
Script/.Rproj.user/E7E92BFF/sources/s-37BDA3F6/813C8682-contents
Script/.Rproj.user/E7E92BFF/sources/s-37BDA3F6/813C8682
Script/.Rproj.user/E7E92BFF/sources/s-37BDA3F6/73A7C228-contents
Script/.Rproj.user/E7E92BFF/sources/s-37BDA3F6/73A7C228
Script/.Rproj.user/E7E92BFF/sources/prop/ABA14EC3
Script/.Rproj.user/E7E92BFF/sources/prop/1950385C
Script/.Rhistory
Script/.Rapp.history
